
h1{
    text-align: center;
    font-size: 30px;
    color:blue;
    display: block;
}

p{
    text-align: center;
    font-size: 30px;
    color:red;
    display: inline;
}

.DescProd{
    color: blue;
    font-size: 30px;
    font-weight: 700;
}

.cubo1{
    background-color: wheat;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20 px;
    display: block;
}

.cubo2{
    background-color: lightblue;
    width: 300px;
    border: 15px solid orange;
    padding: 50px;
    margin: 20 px;
    display: block;
}
/*
p::after{
    color:yellow;
    content: "hola";    
}
*/
/*
a:link{
    color: blueviolet;
}

a:visited{
    color:red;
}

a:hover{
    background: black;
}

a:active{
    color:blue;
}

*{
    color: blue;
}

h1,h2,h3 {
    color: red;
    font-size: 20px;
}

.colorRojo{
    color: red;
}
#hola2{
    color:blue;
}

p * a{
    font-size: 30px;
}

p.Estilo{
    font-size: 30px;
    color: green;
    font-weight: 500;
}

p::before{
    content: "Antes << ";
    color: green;
}

p::after{
    content: " >> Despues";
    color: red;
}

p::first-letter{
    color: red;
    font-size: 30px;
}
*/
